<section id="section-location" class="location location--three-column-classic">
    <img src="assets/cloudy-sky_kerber.jpg" alt="blue sky with peaceful clouds">
    <img src="assets/kerber-footer-logo.svg" alt="Kerber Pediatric Dentistry" class="hidden-md hidden-lg mobile-logo">
    <div class="location__three-column-wrapper">
        <div class="location__column location__column--one">
            <h4 class="location__doctor">Lori Kerber, DDS</h4>
            <h5 class="location__doctor-sub">Board-Certified Pediatric Dentist</h5>
            <h5 class="location__address">2901 35th Street<br>Kenosha, WI 53140</h5>
            <p class="location__map-link"><a href="{{ googleMap }}" target="_blank">Click for map &amp; directions</a></p>
            <h5 class="location__fax">Fax: (262) 658-3433</h5>
        </div>
        <div class="location__column location__column--two">
            <img src="assets/kerber-footer-logo.svg" alt="Kerber Pediatric Dentistry" class="hidden-xs hidden-sm">
            <p class="new-patient-text">New Patient Hotline</p>
            <h2 class="new-patient-phone"><a href="{{ newPhone }}">{{ newPhoneNoBreak }}</a></h2>
            <p class="existing-patient-text">ExiExisting Patients Call</p>
            <h2 class="existing-patient-phone"><a href="{{ existingPhone }}">{{ existingPhoneNoBreak }}</a></h2>
        </div>
        <div class="location__column location__column--three">
            <h3 class="location__hours-header">Office Hours</h3>
            <table >
                <tbody>
                <tr>
                    <th class="t400">Monday</th>
                    <td class="hours-table__time">8:00am - 5:00pm</td>
                </tr>
                <tr>
                    <th class="t400">Tuesday</th>
                    <td class="hours-table__time">8:00am - 5:00pm</td>
                </tr>
                <tr>
                    <th class="t400">Wednesday</th>
                    <td class="hours-table__time">8:00am - 5:00pm</td>
                </tr>
                <tr>
                    <th class="t400">Thursday</th>
                    <td class="hours-table__time">8:00am - 5:00pm</td>
                </tr>
                <tr>
                    <th class="t400">Friday</th>
                    <td class="hours-table__time">Closed</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>